<div class="card mb-3 text-center">
    <div class="card-body bg-secondary" (click)="getCompany(company$.CompanyId)">
      <h5 class="card-title">{{company$.CompanyName}}</h5>
      <p class="card-text">{{company$.CompanyAddress}}</p>
      <p class="card-text">Owned by: {{company$.CompanyOwner}}</p>
      <p class="card-text">Tel/Contact #: {{company$.ContactNumber}}</p>
    </div>
    <div class="row mb-3">
      <div class="container mt-3">
        <button type="button" class="btn btn-success mr-2" (click)="getCompany(company$.CompanyId)"><i class="fa fa-folder-open"></i>View</button>
        <button type="button" class="btn btn-danger" (click)="openModal(confirmationModal)"><i class="fa fa-trash"></i>Delete</button>
      </div>
    </div>
</div>

<ng-template #confirmationModal>
  <div class="modal-body text-center">
  <h6>Do you want to delete {{company$.CompanyName}}?</h6>
    <button type="button" class="btn btn-danger" (click)="confirm(company$.CompanyId)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>