.login-card {
    margin: 25% auto;
    width: 60%;
}
.login-btn-padding {
    border: 2px solid white;
    margin: auto;
}
.login-header {
    background-color: #4CAF50;
}
.login-body {
    background-color: #00a65a;
}

