<div class="container col-sm-12 col-xm-12 col-md-7">
  <div class="card text-white">
    <div class="card-header">
      <h5>Login as Company</h5>
    </div>
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group mt-2">
          <label for="exampleInputEmail1">Username</label>
          <div class="input-group">
              <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
              </div>
            <input type="email" name="username" class="form-control"  placeholder="Username" [(ngModel)]="companyModel.Username">
          </div>          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-asterisk"></i></div>
            </div>
              <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="companyModel.Password">
          </div>
        </div>
        <div class="row justify-content-end mb-3">
            <button type="submit" class="btn padding col align-self-end col-md-6 col-sm-10 mt-2"><i class="fa fa-door-open"></i> Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

