.card {
  margin: 25% auto;
  width: 60%;
}
.color {
    background-color: khaki;
}
.padding {
  margin: auto;
  border: 2px solid white;
}
.card-header {
  background-color: #4CAF50;
}
.card-body {
  background-color: #00a65a;
}